{% extends 'menu.html.twig' %}

{% block title %}Hello PanierController!
{% endblock %}

{% block body %}

	{% if items | length > 0 %}

		<table class="table">
			<thead>
				<tr>
					<th>Product</th>
					<th>Price</th>
					<th>Quantity</th>

					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>{{ item.produit.nom}}</td>
						<td>{{ item.produit.prix }}</td>
						<td>{{ item.quantity }}</td>
						<td>{{ item.quantity * item.produit.prix }}</td>
						<td>
                            <a class="btn btn-success btn-md" href="{{ path('panier_remove' ,{'id': item.produit.id})}}" role="button">Remove</a>
						</td>
					</tr>

				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-right">Total:</td>
					<td>{{ total }}</td>
					<td></td>
				</tr>
			</tfoot>


		</table>


	{% endif %}

{% endblock %}
